@using Models;
@using BLL;
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>院校简介</title>
    <link href="~/assets/css/yuanxiao.css" rel="stylesheet" />
    <link href="~/assets/css/yuanxiaoIndex.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="header-inner body-width">
            <a href="@Url.Action("Index","Index")" class="logo"></a>
            <div class="category">

            </div>
            <div class="search">
                <input type="text" class="search-text" placeholder="Seach here...">
                <button class="search-btn"><i class="icon-search"></i></button>
            </div>
            <nav class="header-nav">
                <ul>
                    <li>
                        <span class="line"></span>
                        <a href="@Url.Action("SchoolIndex","School")" class="dreamer">院校简介</a>                      
                    </li>
                    <li>
                        <span class="line"></span>
                        <a href="@Url.Action("Login","UserInfo")">登录</a>
                    </li>                  
                    <li>
                        <span class="line"></span>
                        @*<i class="icon-app"></i>*@
                        @*<a href="@Url.Action("Index","Index")" class="app">首页</a>*@
                        <i class="icon-arrow"></i>
                        <div style="height:40px;width:50px;float:right;">
                            @{
                                UserInfoManager userinfoManager = new UserInfoManager();
                                if (Session["UserName"] != null)
                                {
                                    UserInfo userinfo = userinfoManager.GetUsersByName(Session["UserName"].ToString());
                                    
                                    if (userinfo.Photo != null)
                                    {
                                        <a href="@Url.Action("UserCenter","UserCenter",new {userid = userinfo.UserID})" target="_blank"><img src="@userinfo.Photo" style="width:40px;height:40px;border-radius:50%;float:left" /></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("UserCenter","UserCenter",new {userid = userinfo.UserID})" target="_blank">
                                            <img src="~/images/photo.png" style="width:40px;height:40px;border-radius:50%;float:left" />
                                        </a>
                                    }

                                }
                            }
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-shadow"></div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
