@model Models.UserInfo
@{
    ViewBag.Title = "UserCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/UserCenter.css" rel="stylesheet" />
<div class="kongge"></div>
<div class="page">
    <div class="title">
        <div class="kongge"></div>
        <div class="image">
            <img src="@Model.Photo"  width="150" height="150"/>
        </div>
        <div class="kongge"></div>
        <div class="title1">
            <a href="#zhanshi" data-toggle="tab" style="color:black">个人信息</a>
        </div>
        <div class="title2"></div>
        <div class="title1" data-toggle="tab">
            <a href="#bianji" data-toggle="tab" style="color:black">编辑信息</a>
        </div>
        <div class="title2"></div>
        <div class="title1">
            <a href="#order" data-toggle="tab" style="color:black">我的订单</a>
        </div>
        <div class="title2"></div>
        <div class="title1">
            <a href="@Url.Action("ShoppingCart","ShangCheng")"  style="color:black">我的购物车</a>
        </div>
        <div class="title2"></div>       
    </div>
    <div class="content">
        <div class="tubiao">
            <br /><br /><br />
            <img src="~/assets/images/logo.png"  width="171" height="60"/>
        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="zhanshi">   
                <div class="content1">
                    <p>用户名:@Model.UserName</p>
                    <p>性别:@Model.Sex</p> 
                    <p>生日:@Model.Birth</p>     
                    <p>电话:@Model.Phone</p>    
                    <p>邮箱:@Model.Email</p>                         
                </div>     
            </div>
            <div class="tab-pane fade" id="bianji">
                <form action="/UserCenter/UserCenter1/" method="post">
                    <table cellspacing="0" cellpadding="0" class="tfm" id="profilelist">
                        <tbody>
                            <tr>
                                <th>用户ID</th>
                                <td>@Model.UserID</td>
                                <td>&nbsp;</td>
                            </tr>
                      
                            <tr id="tr_qq">
                                <th id="th_qq">用户名:</th>
                                <td id="td_qq">
                                    <input id="Text1" type="text" name="UserName" value="@Model.UserName" />
                                </td>

                            </tr>

                            <tr id="tr_gender">
                                <th id="th_gender">性别:</th>
                                <td id="td_gender">
                                    <input id="Text1" type="text" name="Sex" value="@Model.Sex" />
                                </td>

                            </tr>   
                            <tr id="tr_gender">
                                <th id="th_gender">生日:</th>
                                <td id="td_gender">
                                    <input id="Text1" type="text" name="Birth" value="@Model.Birth" />
                                </td>

                            </tr>                         
                            <tr id="tr_qq">
                                <th id="th_qq">邮箱:</th>
                                <td id="td_qq">
                                    <input id="Text1" type="text" name="Email" value="@Model.Email" />
                                </td>

                            </tr>
                            <tr id="tr_bio">
                                <th id="th_bio">电话</th>
                                <td id="td_bio">
                                    <input id="Text1" type="text" name="Phone" value="@Model.Phone" />
                                </td>

                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td colspan="2">                                  
                                    <button type="submit" name="profilesubmitbtn" id="profilesubmitbtn" value="true" class="pn pnc"><strong>保存</strong></button>                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>     
            </div>
            <div class="tab-pane fade" id="order">
                
            </div>
       
        </div>
    </div>
</div>
<script type='text/javascript' src='~/assets/js/jquery.min.js'></script>
<script src="~/assets/js/bootstrap.min.js"></script>
